@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee-blink {
  0% {
    border-color: #ffd700;
    box-shadow: 0 0 5px #ffd700, inset 0 0 5px #ffd700;
  }
  50% {
    border-color: #ff8c00;
    box-shadow: 0 0 15px #ff8c00, inset 0 0 15px #ff8c00;
  }
  100% {
    border-color: #ffd700;
    box-shadow: 0 0 5px #ffd700, inset 0 0 5px #ffd700;
  }
}

.marquee-border {
  border: 6px dotted #ffd700;
  padding: 4px;
  border-radius: 8px;
  animation: marquee-blink 1.5s infinite ease-in-out;
}
