body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background: #ce0b13;
    border-color: #ce0b13;
    height: 50px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#logo {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    bottom: 0;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-item {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    padding: 20px;
    text-align: center;
    vertical-align: bottom;
}

.small-menu  .menu-item {
    padding: 10px 20px 10px 20px;
}


.menu-item.active{
    background: #ffffff;
    color: #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#main-content {
    max-width: 1200px;
    margin: 60px auto 0 auto;
    position: relative;
}

.entry {
    width: 100%;
}

.entry-header {
    color: #000000;
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 1px solid #d8d8d8;
}

.entry-contents {
    padding: 10px;
}

.entry-date {
    font-style: italic;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #282828;
    text-align: center;
    padding: 20px;
    font-size: 11px;
    font-style: italic;
    background: #ffffff;
    border-top: 1px solid #d8d8d8;
}

.clickable {
    cursor: pointer;
}